// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $red: #FF6663;
// $blue: #9EC1CF;
// $yellow: #FDFD97;
// $orange: #FEB144;
// $green: #9EE09E;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
