<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://secureprintportal.s3.us-west-1.amazonaws.com/production/assets/5966561450122033bd4456f8/imageLocker/blog-description/5f11c366a53d4d3a831471de/blog/sports_banners.png);">
  <div class="container">
    <h1>Your <strong>Passport</strong> to <strong>all Sports</strong></h1>
    <p>Play anything, we've got you</p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>

<div class = "m-4">
  <h2><strong>Explore Listings</strong></h2>
</div>
  <% @equipment.each do |equipment| %>
    <%= link_to equipment_path(equipment) do %>
      <div class = "m-4">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <div class = "pt-4">
              <h2><%= equipment.name %></h2>
              <p><%= equipment.description %></p>
            </div>
            <div class = "text-right">
              <h2>Price per Day $<%= equipment.price_per_day %> </h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


<!-- beautify with bootstrap -->
<!-- drop shadows
Margins and padding
Spacing
Flexbox to create 2 pages per width
Link to id form with button. Make the whole img/card a button. Not just the 'view' button
 -->

 <!-- <h2>Categories</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> -->
 <!-- Inject the grid here -->
