.card-product {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative;
  img.product-image {
    height: 100%;
    width: 30%;
    object-fit: cover;
  }
  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
  }
}

.card-product .card-product-infos {
  padding: 0px 16px;
  color: $gray;
}

.card-product-infos {
  flex-grow: 1;
  align-items: center;
}

.card-username {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

